*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,body{
    font-family: 'Work Sans', sans-serif; 
}
.header__top{
    background-color: #ff4f81;
    font-size: 14px;
    color : white ; 
  
}
.header__top a {
    text-decoration: none;
}
.header__right a {
    
    background-color: black;
    border: 1px solid black ;
    width: 30px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
}
.navInstruction a {
    color: black;
}
.navInstruction>a>p:first-child{
    font-size: 36px;font-weight: bold;
  
}
.navInstruction>a>p:last-child{
    font-size: 11px;
    color: #ff4f81;
    letter-spacing: 3px;
    font-weight: bold;
}
#navbarNavDropdown .nav-item:hover a{
    color: #ff4f81;
}
#navbarNavDropdown .nav-item{
    margin: 0 10px;
}
#navbarNavDropdown .nav-item:first-child{
    margin-left: 20px;
}

#navbarNavDropdown .nav-link{
    letter-spacing: 1px;
    font-weight: bold ; 
    font-size: 14px;
    transition: all 0.6s ;
}
#navbarNavDropdown .nav-item::after{
    content: '';
    width: 0 ; 
    height: 2px;
    background-color: #ff4f81;
    display: block;
    transition: all .6s;
}
#navbarNavDropdown .nav-item:hover::after{
    width: 100%;
}
#navbarNavDropdown .nav-item.active .nav-link {
    color: #ff4f81;
}
#navbarNavDropdown .nav-item.active::after{
    width: 100%;
}
#navbarNavDropdown .dropdown-menu{
    background-color: rgba(0,0,0,0.6);
}

.header__left a:hover{
    color : black !important ; 
} 
.cyberCarousel .carousel-item button{
    padding: 11px 20px;
    color: white;
    border: 1px solid white;
    border-radius: 0;
    letter-spacing: 2px;
    font-size: 14px;
    transition: all 0.5s;
}
.set_width{
    height: 500px;
}
.cyberCarousel .carousel-caption h1{
    font-size: 52px;
}
.cyberCarousel .carousel-caption p{
 letter-spacing: 4px;
 line-height: 1.8rem;
 width: 70%;
 margin: 0 auto;
}
.feedback__heading h2{
    font-size: 40px;
    color: #ff4f81;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.section {
    padding: 5rem 0;
}
.information p{
    font-size: 2rem;
    color: skyblue;
    text-align: center;
    animation: blink 2s linear infinite ; 
}
@keyframes blink {
    50%{
        opacity: 0;
    }
    80%{
        opacity: .5;
    }
    
}

.feedback__heading p{
    color: white;
    text-transform: capitalize;
    letter-spacing: 4px;
    font-size: 17px;
}
.feedback__heading p::after{
    content: "";
    width: 55px;
    height: 2px;
    background-color: black;
    display: block;
    margin: 20px auto;
}
.feedback__heading{
    text-align: center;
}
.feedback{
    background: url("../img/banner3.jpg") center ;
    background-attachment: fixed;
    background-size: cover;
}
.feedback__content{
    box-shadow: 0px 1px 7px #8e8e8e;
    background-color: rgba(0, 0, 0, 0.47);
    padding: 1rem;
}

.feedback__content .item {
    padding : 1rem ; 
    color: white ;

}
.feedback__top{
    padding : 1rem 1.5rem ;
    background-color: rgba(0, 0, 0, 0.47);
    border-radius: 5px;
}
.feedback__content .feedback__bottom img{
    width: 20%;
    display: inline-block;
}
.feedback__bottom{
    display: flex;
    justify-content: center;
    width: 55%;
    margin: 20px auto 0 ;
}

.feedback__bottom p {
    margin-left: 10px;
    margin-bottom: 0px;
}
.feedback__top span{
    color: red;
    font-weight: bold;
}

.offer{
    padding-bottom: 2rem;
}
.offer_col{
    padding: 15px;
}
.offer__item{
    padding: 25px 40px;
    box-shadow: 0px 1px 8px 0px rgba(158, 158, 158, 0.75);
    text-align: center;
    background-color: hsla(78, 74%, 46%, 0.47);
    transition: all 0.5s;
}
#offer_id .offer_col .offer__item:nth-child(6){
    padding:0 25px;
}
 .offer_col .offer__item i{
        font-size: 2rem;
        font-weight: bold !important;
        color: #ff4f81 !important;
} 
.offer_col .offer__item p{

} 



/* ------feedback------ */
